$def with (content)
<html>
<head>
    <link rel="stylesheet" href="static/css/box.css" type="text/css">
    <title>Grasp</title>
</head>
<body>

    <div class="background">
        <div class="content">
            <div id="wrapper">
                <div class="header">
                    <img class="shadow-effect" src="static/logo.png" alt="logo">
                </div>

                <form method="post" action="solve">
                    <p><textarea type="text"
                        placeholder="Un simplificador de texto"
                        name="text">
                    </textarea>
                    <input type="submit" value="Procesar" /></p>
                </form>

            </div>
        </div>
    </div>

</body>
</html>
