$def with (content)
<html>
<head>
<link rel="stylesheet" href="static/box.css" type="text/css">

    <title>Grasp</title>
</head>
<body>
    <h1>Grasp</h1>

<!-- <span class="hover">
  ano dgdfgdcv fgfdgd
    <span class="appear"> <h1>My popup</h1>Hitherto and whenceforth.</span>
</span> -->


<form method="post" action="solve">
    <p><textarea type="text"
       cols="110"
       rows="40"
       style="width:200px; height:50px;"
       name="text">
   </textarea>
<!-- <p><input type="text" name="title" />  -->
    <input type="submit" value="Add" /></p>
</form>


</body>
</html>
