.header {
    width: 100%;
    background-color: #ffffff;
    margin: 0 auto;
    margin-bottom: 50px;
}


.header img {
    /*float: left;*/
    width: 220px;
    height: 130px;
    background-color: #ffffff;
    opacity: 1;
    -webkit-box-shadow: 0px 0px 50px 3px  #fff;
    -moz-box-shadow: 0px 0px  50px 3px  #fff;
    box-shadow: 0px 0px 50px 3px  #fff;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}


span.appear {
    width: 250px;
    border:  #4c6600 2px solid;
    background: #ace600;
    position: relative;
    top: 5px;
    left:15px;
    display:none;
    padding: 0 20px 20px 20px;
    z-index: 3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
span.hover  {
    padding:5px 15px;
    cursor:pointer;
    width: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #c6ff1a;
}
span.hover:hover span.appear {
    display:block;
}

#wrapper{
    width: 40%;
    margin: 0 auto;
}

.background {
    position:fixed;
    top:0;
    left: 0;
    width:100%;
    height:100%;
}

.background:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url('../background.jpg');
    opacity: 0.15;
}

.content {
    position: relative;
    z-index: 2;
}​


input[type="text"],
textarea.animated {
    background: url('../textarea.png')  no-repeat;
    /*background-origin: border-box;*/
    background-color : #ffffff;
    width: 700px;
    height: 600px;
    /*-webkit-border-radius: 20px;*/
    /*-moz-border-radius: 20px;*/
    border-radius: 20px;
    border: 1px solid #666666;
    resize: none;
    overflow: auto;
    font-size: 18px;
    font-family: 'Orator Std';

    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;

    -webkit-backface-visibility: hidden;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"],
textarea.animated:focus {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    /*background-origin: border-box;*/
    background: url('../blank.png') no-repeat;
    background-color : #ffffff;

    outline: none !important;
    border:2px solid #cccc00;
    box-shadow: 0 0 10px #719ECE;
    /*box-shadow: 0 0 10px #a6a6a6;*/

    -webkit-transition: 2s ease-in;
    -ms-transition: 2s ease-in;
    -moz-transition: 2s ease-in;
    -o-transition: 2s ease-in;
    transition: 2s ease-in;
}

input[type="submit"] {
    padding:5px 10px;
    background:#cc7a00;
    border: 0 none;
    box-shadow: 0 0 10px #595959;
    cursor:pointer;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    font-family: 'Orator Std';
    font-size: 20px;
}

div.overlay{
    display:inline-block;
    position:absolute;
    margin-right: auto;
}

#process {
  position:absolute;
  bottom:16px;
  right:0px;
}


#example {
  position:absolute;
  bottom:90px;
  right:0px;
}

/*
.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}*/

/*body {
    background-image: url("paper.gif");
}*/


/*First methon cant get js to work*/
/*.main {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    overflow: hidden;
}
.main .activator {
    height: 200px;
    width: 200px;
    float: left;
    display: block;
}
.img {
    border: 1px solid maroon;
    text-align: center;
    margin: 15px;
    height: 168px;
    width: 168px;
    float: left;
}
.content {
    display: none;
    margin: 15px;
}
.activator:hover {
    width: 500px;
}
.activator:hover .content {
    display: block;
}
.activator:hover .img {
    float: left;
}*/

/*Second method*/
